/progress/*

/quantization/models/*

!/quantization/models/.gitkeep

*.log

*.egg-info

/build/*

# remove all sub logs dir
**/logs/**

**/progress/**

/.vscode/*

/__pycache__/*

/.hypothesis/*

/.pkl_memoize_py3/*

/.nnidatabase/*